@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --hue-color: 240;
  
    --first-color: hsl(var(--hue-color), 53%, 49%);
    --title-color: hsl(var(--hue-color), 53%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 24%, 94%);
  
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 3rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2-5: 2.5rem;
  
    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
  }
  
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3.5rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
      --tiny-font-size: .75rem;
    }
  }

  body.dark-theme {
    --title-color: hsl(var(--hue-color), 12%, 95%);
    --text-color: hsl(var(--hue-color), 12%, 75%);
    --body-color: hsl(var(--hue-color), 10%, 16%);
  }

  /* dark theme */

  .clock_theme{
    position: absolute;
    top: -1rem;
    right: -1rem;
    display: flex;
    padding: .25rem;
    border-radius: 50%;
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1), 
                inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
    color: var(--first-color);
    cursor: pointer;
    transition: .4s; 
   }

   .dark-theme .clock_circle {
    box-shadow: 6px 6px 16px hsla(var(--hue-color), 8%, 12%, 1), 
                -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1), 
                inset -6px -6px 16px hsla(var(--hue-color), 8%, 20%, 1), 
                inset 6px 6px 12px hsla(var(--hue-color), 8%, 12%, 1);
       }
  
  .dark-theme .clock_theme {
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1), 
                inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
  }



  *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;

  }

  body{
    margin: 0;
    font-family: var(--body-font);
     background-color: var(--body-color);
     color: var(--text-color);
   }

   a{
       text-decoration: none;
   }
   
   .container{
       max-width: 968px;
       margin-left: var(--mb-1);
       margin-right: var(--mb-1);
   }

   .grid{
       display: grid;
   }

   .clock_container{
       height: 100vh;
       grid-template-rows:1fr max-content;
   }

   .clock_circle{
       position: relative;
       width: 200px;
       height: 200px;
       box-shadow: -6px -6px 16px var(--white-color), 
       6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1), 
       inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1), 
       inset -6px -6px 16px var(--white-color);

       border-radius: 50%;
       justify-self: center;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .clock_content{
       align-self: center;
       row-gap: 3.5rem;
   }
   .clock_twelve,
   .clock_three,
   .clock_six,
   .clock_nine{
         position: absolute;
         width: 1rem;
         height: 1px;
         background-color: var(--text-color-light);
   }
   .clock_twelve,
   .clock_six{
       transform: translateX(-50%) rotate(90deg);
   }
   .clock_twelve{
       top: 1.25rem;
       left: 50%;
   }
   .clock_three{
       top: 50%;
       right: .75rem;
   }
   .clock_six{
       bottom: 1.25rem;
       left: 50%;
   }
   .clock_nine{
       left: .75rem;
       top: 50%;
   }
   .clock_rounder{
       width: .75rem;
       height: .75rem;
       background-color: var(--first-color);
       border-radius: 50%;
       border: 2px solid var(--body-color);
       z-index: var(--z-tooltip);
   }

   .clock_hour,
   .clock_minutes,
   .clock_seconds{
       position:absolute;
       display: flex;
       justify-content: center;
   }
   .clock_hour{
       width: 105px;
       height: 105px;

   }
   .clock_hour::before{
     content: "";
     position: absolute;
     background-color: var(--text-color);
     width: .25rem;
     height: 3rem;
     border-radius: .75rem;
     z-index: var(--z-normal)
   }
   .clock_minutes{
       height: 136px;
       width: 136px;
   }

   .clock_minutes::before{
       content: "";
       position: absolute;
       background-color: var(--text-color);
       width: .25rem;
       height: 4rem;
       border-radius: .75rem;
       z-index: var(--z-normal);
   }

   .clock_seconds{
       width: 130px;
       height: 130px;

   }
   .clock_seconds::before{
       content: "";
       position: absolute;
       background-color: var(--first-color);
       width:.125rem;
       height:5rem;
       border-radius:.75rem;
       z-index:var(--z-normal)

   }

   .clock_logo{
       width: max-content;
       justify-self: center;
       margin-bottom: var(--mb-2-5);
       font-size: va(--smaller-font-size);
       font-weight: var(--font-medium);
       color: var(--text-color-light);
       transition: .3s;
   }

   .clock_logo:hover{
       color: var(--first-color);
   }

   .clock_text{
       display: flex;
       justify-content: center;
   }

   .clock_text-hour, 
   .clock_text-minutes{
         font-size: var(--biggest-font-size);
         font-weight: var(--font-medium);
         color: var(--title-color);
   }

   .clock_text-ampm{
       font-size: var(--tiny-font-size);
       color: var(--title-color);
       font-weight: var(--font-medium);
       margin-left: var(--mb-0-25);
   }

   .clock_date{
       text-align: center;
       font-size: var(--small-font-size);
       font-weight: var(--font-medium);
   }

   @media screen and (min-width: 968px) {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
    .clock__logo {
      margin-bottom: 3rem;
    }
  }